## 1. Importing our libraries and data

In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os
# Import Data
path = r'C:\Users\javir\Downloads\Javis Data Analytics stuff\Achievement 4\Instacart Basket Analysis'
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'),index_col = False)
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'),index_col = False)
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'order_products__prior.csv'),index_col = False)

## 2. Working towards merging out data

In [2]:
# Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [3]:
# checking our shapes
df_ords_prior.shape

(32434489, 4)

In [4]:
df_ords.shape

(3421083, 10)

In [5]:
#merging of df_ords_prior into df_ords via Key order_id, while checking if Full Match
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id',how = 'outer', indicator = True)

In [6]:
df_merged_large.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,evaluation_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,ordered_today,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,True,196.0,1.0,0.0,both
1,0,0,2539329,1,prior,1,2,8,NaN,True,14084.0,2.0,0.0,both
2,0,0,2539329,1,prior,1,2,8,NaN,True,12427.0,3.0,0.0,both
3,0,0,2539329,1,prior,1,2,8,NaN,True,26088.0,4.0,0.0,both
4,0,0,2539329,1,prior,1,2,8,NaN,True,26405.0,5.0,0.0,both

In [7]:
# Checking our _merge values to see if we had a full match
df_merged_large['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

## 3. Exporting

In [8]:
#Exporting data as pickle
df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))